/*!
 * Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 */
body {
  padding-top: 56px;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.soria-color {
  background-color: #206675 !important;
}

.soria-boton{
  background-color: #206675 !important;
  color:  #ffffff !important;
}

.soria-texto{
  color:  #206675;
}

.footer-soria {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
}